*~
*.pyc
*.egg
*.egg-info
local_settings.py
src/web_backend/env/
bin/
include/
lib/
.installed.cfg
pip-log.txt
src/web_backend/webapp/sandbox/


WithinReach/.classpath
WithinReach/project.properties
WithinReach/gen/
WithinReach/lint.xml
*.local
